<div class="card">
    <div class="card-header">
      {{pageTitle}}
    </div>
    <div class="card-body">
      <div class="container-fluid">
        <div class="text-center">
          <img src="./assets/images/trailShoes.jpg"
               class="img-responsive center-block"
               style="max-height:500px;padding-bottom:50px" />
        </div>
        <div class="text-center">Developed by:</div>
        <div class="text-center">
          <h3>Maria Nawrocka</h3>
        </div>
      </div>
    </div>
  </div>
  